.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.info button {
    width: 320px;
    height: 50px;
    margin-top: 15px;
}

input {
    width: 300px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin: 5px;
}

button:hover {
    cursor: pointer;
}

.show-hospitals {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hospital-list {
    display: flex;
    padding: 10px;
    width: 700px;
    height: 180px;
    border: 1px solid black;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.hospital-list h3 {
    margin: 20px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}